<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Deep learning - VinBigData</title>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/index.css') }}" />
</head>

<body>
    <div>
        <div style="color: white;background-color: blue;text-align: center;margin-top: 10px;width: 98%;float: left;">
            <h2>Voice Gender/Accent Classification</h2>
        </div>
        <div id="FileContainer">
            <form method="post" enctype="multipart/form-data" ,style="text-align: center;">
                <div style="float: left;text-align: center;width: 98%;">
                    Nhập tên của bạn:
                    <input type="text" name="text" id="text">
                    <input type="submit" id="ghiamButton" value="ghi âm"
                        style="background-color: #0191FE;color: white;border-radius: 5px;border: none;padding: 10px 30px;margin-top: 20px;" />
                    <br>
                </div>
                <div
                    style="width: 98%;margin-top: 10px; float: left;height: 275px;width: 400px; margin-left: 170px; border-right: 0.5px solid black;height: 280px">
                    <h4>Chọn file có sẵn</h4>
                    <input id="audio_file" type="file" name="file" accept="audio/*" />
                    <p>
                        <audio controls id="audio_player"></audio>
                    </p>
                    <script>
                        audio_file.onchange = function () {
                            var files = this.files;
                            var file = URL.createObjectURL(files[0]);
                            audio_player.src = file;
                            audio_player.play();
                        };
                        ghiamButton.onclick = function () {
                            var x = document.getElementById("text").value
                            if (x != "") {
                                alert("Bắt đầu ghi âm (file ghi âm sẽ dài 4s)")
                            }
                        };
                    </script>
                    <input type="submit" id="submitButton" value="Dự đoán" />
                </div>
                <div id="predictContainer"
                    style="float: left; width: 260px; border-right: 0.5px dashed black;margin-left: 50px;margin-top: 10px;height: 280px;">
                    <h4>Xác suất dự đoán</h4>
                    <p id="speechText" style="font-size: 15px;">Nữ - Bắc: {{ female_north }}</p>
                    <p id="speechText" style="font-size: 15px;">Nữ - Trung: {{ female_central }}</p>
                    <p id="speechText" style="font-size: 15px;">Nữ - Nam: {{ female_south }}</p>
                    <p id="speechText" style="font-size: 15px;">Nam - Bắc: {{ male_north }}</p>
                    <p id="speechText" style="font-size: 15px;">Nam - Trung: {{ male_central }}</p>
                    <p id="speechText" style="font-size: 15px;">Nam - Nam: {{ male_south }}</p>
                </div>
                <div id="predictContainer"
                    style="float: left; width: 180px;margin-left: 50px;margin-top: 10px;height: 280px;margin-right: 20px;">
                    <h4>Kết quả dự đoán</h4>
                    <h1 id="speechText" style="font-size: 25px;margin-top: 70px; color: lightgreen;">{{ predict }}</h1>
                </div>
                <div id="pathContainer"
                    style="float: left;margin-left: 20px;margin-right: 20px;margin-top: 5px;height: 60px;">
                    <h4 id="path">Đường dẫn file: {{ path }}</h4>
                </div>
            </form>
        </div>
        <div
            style="border-top: 0.5px solid black;  text-align: center;margin-top: 5px;margin-left: 4%;margin-right: 6%;width: 90%;float: left;">
            <div
                style="float: left;width: 49%;border-right: 0.5px solid blue;text-align: center;color: blue;margin-top: 10px;height: 130px;">
                <h3>THÀNH VIÊN</h3>
                <span>1. Lưu Minh Quân<br></span>
                <span>2. Trần Hoàng Vũ<br></span>
                <span>3. Trần Tấn Thành</span>
            </div>
            <div style="text-align: center;float: left;width: 48%;margin-top: 10px;color: blue;height: 130px;">
                <h3>MÔN HỌC</h3>
                <h4>DEEP LEARNING</h4>
            </div>
        </div>
    </div>
</body>

</html>